<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Magé Verde Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Login - Magé Verde</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="inicio.html">Início</a></li>
                    <li><a href="trilhas.html">Trilhas</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="loginAdm.html">Admintração</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="admin-dashboard">
        <h2>Entrar</h2>
        <form action="/loginUsuario" method="POST">
            {{ form.csrf_token }}

            {{ form.email.label() }} 
            {{ form.email() }}

            {{ form.senha.label() }} 
            {{ form.senha() }}

            {{ form.botaoConfirmacao()}}

            <input type="text" name="username" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>    

        <p>Não tem uma conta? <a href="registro.html">Cadastre-se</a></p>
    </section>

    <footer>
        <p>&copy; 2025 Magé Verde Online | Todos os direitos reservados</p>
    </footer>

    <script src="\FRONTEND\static\scripts.js"></script>
</body>
</html>
