<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magé Verde Online</title>
    <link rel="stylesheet" href="style.css">
        
</head>
<body>
    <header>
        <div class="logo1">
            <img src="\FRONTEND\imagens\logo mage1.png" alt="Logo Magé Verde">
        </div>
        <h1>Magé Verde Online</h1>
        <nav>
            <ul>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="trilhas.html">Trilhas</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="loginAdm.html">Administração</a></li>
                <li><a href="loginUsuario.html">Login</a></li>
            </ul>
        </nav>
        <div class="logo2">
            <img src="\FRONTEND\imagens\logo mage2.png" alt="Fundação Edu e Cul de Magé">
        </div>
    </header>

    <section class="intro">
        <h2>Bem-vindo ao Circuito Magé Verde!</h2>
        <p>Explore as melhores atrações naturais de Magé, incluindo o Parque Nacional da Serra dos Órgãos e o Parque Municipal Barão de Mauá. Descubra trilhas, cachoeiras e muito mais.</p>
    </section>

    <section class="atracoes">
        <h3>Atrações em Destaque</h3>
        <div class="atracao1">
            <img src="\FRONTEND\imagens\serra dos orgãos.jpeg" alt="Parque Serra dos Órgãos">
            <h4>Parque Nacional da Serra dos Órgãos</h4>
            <p>Trilhas deslumbrantes e rica biodiversidade.</p>
        </div>
        <div class="atracao2">
            <img src="\FRONTEND\imagens\parque barao de maua.jpeg" alt="Parque Barão de Mauá">
            <h4>Parque Municipal Barão de Mauá</h4>
            <p>Uma imersão na natureza e nas cachoeiras locais.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Magé Verde Online | Todos os direitos reservados</p>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
